<div class='col-md-10 col-md-offset-1'>
  <h2>Incidents</h2>
  <%= link_to "New Incident", new_incident_path, remote: true, class: "btn btn-primary" %>
  <hr>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Recorded Date</th>
              <th>Incident Date</th>
              <th>Reporter</th>
              <th>Witness</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody id="incidents">
          <div class = "sort_paginate_ajax"><%= render @incidents %></div>
          </tbody>
        </table>
        <%= will_paginate @incidents, renderer: BootstrapPagination::Rails %>
      </div>

      <%= render 'dialog' %>

    </div>
  </div>
</div>