<div class='col-md-10 col-md-offset-1'>
  <h2>Programs</h2>
  <%= link_to "New Program", new_program_path, remote: true, class: "btn btn-primary" %>
  <hr>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered">
          <thead>
            <tr>
              <th>Program Name</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody id="programs">
          <div class = "sort_paginate_ajax"><%= render @programs %></div>
          </tbody>
        </table>
        <%= will_paginate @programs, renderer: BootstrapPagination::Rails %>
      </div>

      <%= render 'dialog' %>

    </div>
  </div>
</div>