<form>
  <fieldset class="form-group">
    <label for="reporter">Reporter</label>
    <input type="text" class="form-control" id="reporter">
  </fieldset>
  <fieldset class="form-group">
    <label for="witness">Witness</label>
    <input type="text" class="form-control" id="witness">
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleSelect1">Onsite/Offsite</label>
    <select class="form-control" id="exampleSelect1">
      <option>Onsite</option>
      <option>Offsite</option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <label for="locAddress">Location Address</label>
    <input type="text" class="form-control" id="locAddress">
  </fieldset>
  <fieldset class="form-group">
    <label for="incDescr">Incident Description</label>
    <textarea class="form-control" id="incDescr" rows="3"></textarea>
  </fieldset>
  <button type="button" class="btn btn-success">Add Person</button>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
