
<%= nested_form_for(@area, remote: true, :html => { :role => "form" }) do |f| %>
  <div id="error_explanation" class="bg-danger text-danger">

  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :name, :class => "control-label" %>
        <%= f.text_field :name, :class => "form-control" %>
      </div>  
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.submit  @area.new_record? ? "Create Area" : "Update Area", :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>