<tr id="incident_type_<%= incident_type.id %>">
    <td><%= incident_type.name %></td>
    <td>
	    <%= link_to 'Edit', edit_incident_type_path(incident_type), remote: true, :class => 'btn btn-sm btn-primary' %>
	</td>
    <td>
	    <%= link_to 'Delete', incident_type, remote: true, :method => :delete, data: {confirm: "Delete Incident Type: #{incident_type.id}"}, :class => 'btn btn-sm btn-primary' %>
	</td>
</tr>